USE [master]
GO
/****** Object:  Database [ejemplo]    Script Date: 28-07-2020 1:02:35 ******/
CREATE DATABASE [ejemplo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ejemplo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ejemplo.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ejemplo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ejemplo_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ejemplo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ejemplo]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 28-07-2020 1:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[persona](
	[rut] [varchar](10) NOT NULL,
	[nombre] [varchar](25) NULL,
	[direccion] [varchar](30) NULL,
	[fecha_nac] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
